.link{
    display: flex;
    flex-direction: row;
    font-size: 13px;
    align-items: center;
}

.link a{
    text-decoration: none;
    outline: none;
}

.link img{
    margin-right: 20px;
    transition: all .2s ease;
}

.link p{
    font-size: 1em;
    padding-bottom: 1%;
    font-weight: 400;
    transition: all .2s ease;
}

@media (min-width: 1024px){
    .link{
        font-size: 15px;
    }

    .link p:hover{
        font-size: 104%;
    }

    .link img:hover{
        transform: scale(1.3, 1.3);
    }
}