.language {
  width: 13px;
  height: 13px;
  border: 2px solid &main-color;
  border-radius: 50%;
}

#html {
  @extend .language;
  background-color: &circle-html;
}

#css {
  @extend .language;
  background-color: &circle-css;
}

#js {
  @extend .language;
  background-color: &circle-js;
}

#dart {
  @extend .language;
  background-color: &circle-dart;
}

#tsql {
  @extend .language;
  background-color: &circle-tsql;
}

#cpp {
  @extend .language;
  background-color: &circle-cpp;
}

#c {
  @extend .language;
  background-color: &circle-c;
}

#scss {
  @extend .language;
  background-color: &circle-scss;
}
