.project_anchor {
  text-decoration: none;
  outline: none;

  .project {
    background-color: &bg-cards;
    border-radius: 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
    padding: 8%;

    .project_title {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 6px;
      font-size: 16px;

      h4 {
        font-size: 1em;
        font-weight: 700;
      }
    }

    .project_description {
      min-height: 100px;
      font-size: 14px;
      margin-top: 3vh;
      margin-bottom: 3vh;

      h6 {
        font-size: 1em;
      }
    }
    .project_props {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .project_stats {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 21%;

        .project_star {
          display: flex;
          flex-direction: row;
          font-size: 14px;
          gap: 7.5px;

          p {
            font-size: 1em;
            font-weight: 500;
          }
        }

        .project_branch {
          display: flex;
          flex-direction: row;
          font-size: 14px;
          gap: 7.5px;

          p {
            font-size: 1em;
            font-weight: 500;
          }
        }
      }
      .project_language {
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 14px;
        gap: 8px;

        p {
          font-size: 1em;
          font-weight: 500;
        }
      }
    }
  }
}

@media (min-width: $l) {
  .project {
    .project_title {
      font-size: 20px;
    }

    .project_description {
      font-size: 17px;

      h6 {
        font-weight: 500;
      }
    }

    .project_props {
      .project_stats {
        .project_star {
          font-size: 17px;
        }

        .project_branch {
          font-size: 17px;
        }
      }

      .project_language {
        font-size: 17px;
      }
    }
  }
}
