.tech {
  background-color: bg-techs;
  font-size: 10px;
  text-align: center;
  border-radius: 15px;
  padding: 5% 0;

  p {
    color: footer-color;
    font-size: 1em;
    font-weight: 700;
  }
}

@media (min-width: $m) {
  .tech {
    font-size: 12px;
  }
}
