.footer{
    position: relative;
    bottom: 21px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 71px;
    font-size: 14px;
}

.footer h4{
    color: var(--footer-color);
    font-size: 1em;
}