.footer {
  position: relative;
  bottom: 21px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 71px;
  font-size: 14px;

  h4 {
    color: &footer-color;
    font-size: 1em;
  }
}
