:root {
  --main-color: #837e9f;
  --footer-color: #22212c;
  --bg-cards: #302f3d;
  --bg-cards-hover: #343258;
  --bg-techs: #cb92b1;

  --circle-html: #e34c26;
  --circle-css: #563d7c;
  --circle-js: #f1e05a;
  --circle-dart: #00b4ab;
  --circle-tsql: #e38c00;
  --circle-cpp: #f34b7d;
  --circle-c: #555555;
  --circle-scss: #C6538C;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Merriweather Sans", sans-serif;
  color: var(--main-color);
}
